.part1{
    position: fixed;
    background-color: #1F2937;
    height: 50px;
    margin: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    color: #F9FAF8;
    background-color: #1F2937;
    border-width: 0px;
    font-size: 24px;
}
.link1, .link2, .link3{
    font-size: 18px;
    color: #E5E7EB;
    border-width: 0px;
    background-color: #1F2937;
    margin-right: 10px;
}
.part2{
    margin-top: 50px;
    background-color: #1F2937;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.part2-left{
    width: 370px;
    display: inline-block;
    margin-bottom: 20px;
}
.hero-text{
    color: #F9FAF8;
    font-size: 48px;
    margin-bottom: 0px;
}
.herosecondary-text1{
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0px;
    margin-bottom: 0px;
}
.button{
    width: 100px;
    height: 30px;
    background-color: #3882F6;
    border-radius: 5px;
    border-width: 0px;
}
.image{
    height: 200px;
    color: black;
    font-size: 50px;
}
.part3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.part3-top{
    font-size: 36px;
    color: #1F2937;
    margin-top: 10px;
    margin-bottom:10px;
}
.part3-bottom{
    display: flex;
    align-items: center;
}
.rand-info{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.part3-image{
    width: 180px;
}
.herosecondary-text{
    width: 180px;
    font-size: 20px;
    opacity: 0.7;
    margin-left: 15px;
    margin-top: 0px;
    margin-right: 20px;
    text-align: center;
}
.part4{
    height: 300px;
    width: 100%;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.part4-top{
    font-size: 34px;
    color: #1F2937;
    font-weight: light;
    width: 700px;
}
.part4-bottom{
    color: black;
    font-size: 36px;
    margin-left: 400px;
}
.part5{
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    background-color: #3882F6;
    width: 1000px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.text1{
    font-size: 24px;
}
.text2{
    font-size: 15px;
    opacity: 0.6;
}
.Sign-button{
    background-color: #3882F6;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    color: white;
}